<%- include('header') %>
<div class="p_wrapper uea">
  <div id="gallery">
    <ul>
      <li class="p_place" style="background-image:url('image/merry-christmas-10-990x556.jpg');">Image Holder</li>
      
    </ul>
  </div>
</div>


<%- include('footer') %>